@{
}
<footer class="d-footer">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <p class="mb-0">© 2025 LuanNet. All Rights Reserved.</p>
        </div>
        <div class="col-auto">
            <p class="mb-0">developer : Luis Cano<span class="text-primary-600"> canomartinezluis@gmail.com</span></p>
        </div>
    </div>
</footer>